DATABASE_URL=
SECRET_KEY = 
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 60



## Cloudinary 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# CLOUDINARY_BASE_URL=https://res.cloudinary.com/<userid>/image/upload/
CLOUDINARY_BASE_URL=




HUGGINGFACE_API_KEY=



GEMINI_API_KEY=



REDIS_URL=

RESEND_API_KEY=



# SMTP Configuration
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USERNAME =
SMTP_PASSWORD =
